openapi: 3.0.1
info:
  description: It orchestrates a consumer checking/demand deposit account.
  title: current-accountv2
  version: 2.0.0
servers:
- url: https://bianorg.azure-api.net/sd-current-account/current-accountv2
security:
- apiKeyHeader: []
paths:
  /current-account/activationx:
    post:
      description: Activate  a  SDCurrentAccount servicing session
      operationId: activate_sd_current_account
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          '*/*':
            schema:
              properties:
                serviceDomainActivationActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The activation service call consolidated processing record
                  properties: {}
                  type: object
                serviceDomainCenterReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the service center/operational unit
                  example: SCR793499
                  type: string
                serviceDomainServiceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to a service offered by the service center
                  example: CPASSR703914
                  type: string
                serviceDomainServiceConfigurationRecord:
                  $ref: '#/components/schemas/_current_account_activationx_serviceDomainServiceConfigurationRecord'
              type: object
        description: SDCurrentAccount Request Payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
          description: Successful Service Activation
      summary: Activate  a SDCurrentAccount servicing session
      tags:
      - activate
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.activate_controller
  /current-account/current-account-fulfillment-arrangement/behavior-qualifiers/:
    get:
      operationId: retrieve_current_account_behavior_qualifiers
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - Interest
                - ServiceFees
                - AccountLien
                - AccountSweep
                - DepositsandWithdrawals
                - Payments
                - IssuedDevice
                items:
                  type: string
                type: array
          description: Successful
      summary: Retrieve BQ names
      tags:
      - retrieve
      x-openapi-router-controller: tester.entrypoints.rest.controllers.retrieve_controller
  /current-account/{sd-reference-id}:
    get:
      description: Analytical views maintained by the SDCurrentAccount service center
        for management reporting and analysis purposes
      operationId: retrieve_sd_current_account
      parameters:
      - description: SDCurrentAccount Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Query params from schema '#/definitions/SDCurrentAccountRetrieveInputModel'
        explode: true
        in: query
        name: queryparams
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful Service Retrieve
      summary: Analytical views maintained by the SDCurrentAccount service center
        for management reporting and analysis purposes
      tags:
      - retrieve
      x-openapi-router-controller: tester.entrypoints.rest.controllers.retrieve_controller
  /current-account/{sd-reference-id}/configuration:
    put:
      description: Update an active SDCurrentAccount session configuration
      operationId: configure_sd_current_account
      parameters:
      - description: SDCurrentAccount Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          '*/*':
            schema:
              properties:
                serviceDomainConfigurationActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The configuration service call consolidated processing record
                  properties: {}
                  type: object
                serviceDomainServicingSessionReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the active servicing session
                  example: SSSR764367
                  type: string
                serviceDomainServiceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to a service offered by the service center
                  example: CPASSR744740
                  type: string
                serviceDomainServiceConfigurationRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__configuration_serviceDomainServiceConfigurationRecord'
              type: object
        description: SDCurrentAccount Configure Request Payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful Service Configuration
      summary: Update an active SDCurrentAccount session configuration
      tags:
      - configure
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.configure_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement:
    get:
      operationId: retrieve_current_account_reference_ids
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter to refine the result set. ex- CurrentAccount Instance
          Status='active'
        explode: true
        in: query
        name: collection-filter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - ID726464
                - ID7264642
                items:
                  type: string
                type: array
          description: Successful
      summary: Retrieve CR Ids
      tags:
      - retrieve
      x-openapi-router-controller: tester.entrypoints.rest.controllers.retrieve_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/initiation:
    post:
      description: Initiate A new Current Account
      operationId: initiate_current_account_fulfillment_arrangement
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          '*/*':
            schema:
              properties:
                currentAccountServicingSessionReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the active servicing session
                  example: CASSR739654
                  type: string
                currentAccountFulfillmentArrangementInitiateActionRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The Initiate service call input and output record
                  properties: {}
                  type: object
                currentAccountFulfillmentArrangementInstanceStatus:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                     general-info: The status of the Current Account Fulfillment Arrangement instance (e.g. initialised, pending, active)
                  type: string
                currentAccountFulfillmentArrangementInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement_initiation_currentAccountFulfillmentArrangementInstanceRecord'
              type: object
        description: CurrentAccountFulfillmentArrangement Request Payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_1'
          description: Successful initiation of new CurrentAccountFulfillmentArrangement
            instance
      summary: Details of a new CurrentAccountFulfillmentArrangement instance
      tags:
      - initiate
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.initiate_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}:
    get:
      description: Retrieve information about a current account - either standard
        canned reports or selected instance attribute values
      operationId: retrieve_current_account
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Query params from schema '#/definitions/CRCurrentAccountFulfillmentArrangementRetrieveInputModel'
        explode: true
        in: query
        name: queryparams
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successfully Retrieved Current Account Fulfillment Arrangement
            Instance
      summary: Invoke a reporting action to obtain a Current Account Fulfillment Arrangement
        instance related report
      tags:
      - retrieve
      x-openapi-router-controller: tester.entrypoints.rest.controllers.retrieve_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/accountlien/initiation:
    post:
      description: Set up an account lien
      operationId: initiate_current_account_fulfillment_arrangement_account_lien
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_8'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__accountlien_initiation_currentAccountFulfillmentArrangementInstanceRecord'
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR728187
                  type: string
                accountLienInitiateActionRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The Initiate service call input and output record
                  properties: {}
                  type: object
                accountLienInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__accountlien_initiation_accountLienInstanceRecord'
              type: object
        description: Current Account Fulfillment Arrangement Request Payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_3'
          description: Successful initiation of Current Account Fulfillment Arrangement
            instance
      summary: Details of a new AccountLien instance
      tags:
      - initiate
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.initiate_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/accountlien/{bq-reference-id}/:
    get:
      description: Retrieve details about an active account lien .The retrieve operation
        can have sub qualifiers beyond BQ level, please reffer to the model heriarchy
        to extend beyond BQ level into APIs retrieving sub-qualifier level information.
      operationId: retrieve_current_account_fulfillment_arrangement_account_lien
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: AccountLien Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Query params from schema '#/definitions/BQAccountLienRetrieveInputModel'
        explode: true
        in: query
        name: queryparams
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
          description: Successfully  Retrieved AccountLien Instance Record
      summary: Invoke a reporting action to obtain a AccountLien instance related
        report.
      tags:
      - retrieve
      x-openapi-router-controller: tester.entrypoints.rest.controllers.retrieve_controller
  ? /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/accountlien/{bq-reference-id}/exchange
  : put:
      description: Exchange (i.e. confirm, reject) details of an account lien
      operationId: exchange_current_account_fulfillment_arrangement_account_lien_update
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: AccountLien Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_10'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR749898
                  type: string
                accountLienInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Account Lien instance
                  example: ALIR719611
                  type: string
                accountLienExchangeActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The exchange service call consolidated processing record
                  properties: {}
                  type: object
                accountLienExchangeActionRequest:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__accountlien__bq_reference_id__exchange_accountLienExchangeActionRequest'
              type: object
        description: AccountLien request payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
          description: Successful exchange of AccountLien Instance Record
      summary: Handle an external exchange (e.g. accept, reject, verify)
      tags:
      - exchange
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.exchange_controller
  ? /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/accountlien/{bq-reference-id}/update
  : put:
      description: Update details of an existing account lien
      operationId: update_current_account_fulfillment_arrangement_account_lien
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: AccountLien Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_9'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR757645
                  type: string
                accountLienInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Account Lien instance
                  example: ALIR756900
                  type: string
                accountLienInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__accountlien__bq_reference_id__update_accountLienInstanceRecord'
                accountLienUpdateActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The update service call consolidated processing record
                  properties: {}
                  type: object
                accountLienUpdateActionRequest:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                     general-info: Details of the update action service request
                  type: string
              type: object
        description: AccountLien Request Payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
          description: Successfully Updated AccountLien Instance
      summary: Update to any amendable fields of the AccountLien instance
      tags:
      - update
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.update_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/accountsweep/initiation:
    post:
      description: Set up an account sweep
      operationId: initiate_current_account_fulfillment_arrangement_account_sweep
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_11'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__accountsweep_initiation_currentAccountFulfillmentArrangementInstanceRecord'
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR727507
                  type: string
                accountSweepInitiateActionRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The Initiate service call input and output record
                  properties: {}
                  type: object
                accountSweepInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__accountsweep_initiation_accountSweepInstanceRecord'
              type: object
        description: Current Account Fulfillment Arrangement Request Payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_4'
          description: Successful initiation of Current Account Fulfillment Arrangement
            instance
      summary: Details of a new AccountSweep instance
      tags:
      - initiate
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.initiate_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/accountsweep/{bq-reference-id}/:
    get:
      description: Retrieve details about an active sweep facility or specific sweep
        transaction .The retrieve operation can have sub qualifiers beyond BQ level,
        please reffer to the model heriarchy to extend beyond BQ level into APIs retrieving
        sub-qualifier level information.
      operationId: retrieve_current_account_fulfillment_arrangement_account_sweep
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: AccountSweep Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Query params from schema '#/definitions/BQAccountSweepRetrieveInputModel'
        explode: true
        in: query
        name: queryparams
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
          description: Successfully  Retrieved AccountSweep Instance Record
      summary: Invoke a reporting action to obtain a AccountSweep instance related
        report.
      tags:
      - retrieve
      x-openapi-router-controller: tester.entrypoints.rest.controllers.retrieve_controller
  ? /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/accountsweep/{bq-reference-id}/execution
  : put:
      description: Trigger an account sweep transaction
      operationId: execute_current_account_fulfillment_arrangement_account_sweep_update
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: AccountSweep Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_13'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR779352
                  type: string
                accountSweepInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Account Sweep instance
                  example: ASIR769250
                  type: string
                accountSweepInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__accountsweep__bq_reference_id__execution_accountSweepInstanceRecord'
                accountSweepExecuteActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The execute service call consolidated processing record
                  properties: {}
                  type: object
                executeRecordType:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__servicefees__bq_reference_id__execution_executeRecordType'
              type: object
        description: AccountSweep request payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
          description: Successful execution of AccountSweep Instance Record
      summary: Invoke an automated execute action against the AccountSweep instance
      tags:
      - execute
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.execute_controller
  ? /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/accountsweep/{bq-reference-id}/update
  : put:
      description: Update details of an existing account sweep
      operationId: update_current_account_fulfillment_arrangement_account_sweep
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: AccountSweep Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_12'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR783334
                  type: string
                accountSweepInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Account Sweep instance
                  example: ASIR789493
                  type: string
                accountSweepInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__accountsweep__bq_reference_id__update_accountSweepInstanceRecord'
                accountSweepUpdateActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The update service call consolidated processing record
                  properties: {}
                  type: object
                accountSweepUpdateActionRequest:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                     general-info: Details of the update action service request
                  type: string
              type: object
        description: AccountSweep Request Payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
          description: Successfully Updated AccountSweep Instance
      summary: Update to any amendable fields of the AccountSweep instance
      tags:
      - update
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.update_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/control:
    put:
      description: Control the processing of an active current account (change processing
        status)
      operationId: control_current_account_fulfillment_arrangement_update
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_5'
        content:
          '*/*':
            schema:
              properties:
                currentAccountServicingSessionReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the active servicing session
                  example: CASSR762286
                  type: string
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Current Account Fulfillment Arrangement instance
                  example: CAFAIR757395
                  type: string
                currentAccountFulfillmentArrangementControlActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The processing control service call consolidated processing record
                  properties: {}
                  type: object
                currentAccountFulfillmentArrangementControlActionRequest:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__control_currentAccountFulfillmentArrangementControlActionRequest'
              type: object
        description: Current Account Fulfillment Arrangement Request Payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Successful control of Current Account Fulfillment Arrangement
            Instance
      summary: Request specific processing (e.g. suspend, skip, terminate)
      tags:
      - control
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.control_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/depositsandwithdrawals/initiation:
    post:
      description: Initialize deposit or withdrawal transaction
      operationId: initiate_current_account_fulfillment_arrangement_deposits_and_withdrawals
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_14'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__depositsandwithdrawals_initiation_currentAccountFulfillmentArrangementInstanceRecord'
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR769672
                  type: string
                depositsAndWithdrawalsInitiateActionRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The Initiate service call input and output record
                  properties: {}
                  type: object
                depositsAndWithdrawalsInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__depositsandwithdrawals_initiation_depositsAndWithdrawalsInstanceRecord'
              type: object
        description: Current Account Fulfillment Arrangement Request Payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_5'
          description: Successful initiation of Current Account Fulfillment Arrangement
            instance
      summary: Details of a new DepositsAndWithdrawals instance
      tags:
      - initiate
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.initiate_controller
  ? /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/depositsandwithdrawals/{bq-reference-id}/
  : get:
      description: Retrieve details about a deposit or withdrawal transaction .The
        retrieve operation can have sub qualifiers beyond BQ level, please reffer
        to the model heriarchy to extend beyond BQ level into APIs retrieving sub-qualifier
        level information.
      operationId: retrieve_current_account_fulfillment_arrangement_deposits_and_withdrawals
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: DepositsAndWithdrawals Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Query params from schema '#/definitions/BQDepositsAndWithdrawalsRetrieveInputModel'
        explode: true
        in: query
        name: queryparams
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
          description: Successfully  Retrieved DepositsAndWithdrawals Instance Record
      summary: Invoke a reporting action to obtain a DepositsAndWithdrawals instance
        related report.
      tags:
      - retrieve
      x-openapi-router-controller: tester.entrypoints.rest.controllers.retrieve_controller
  ? /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/depositsandwithdrawals/{bq-reference-id}/execution
  : put:
      description: Execute a deposit or withdrawal transaction
      operationId: execute_current_account_fulfillment_arrangement_deposits_and_withdrawals_update
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: DepositsAndWithdrawals Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_16'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR796414
                  type: string
                depositsAndWithdrawalsInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Deposits And Withdrawals instance
                  example: DAWIR776109
                  type: string
                depositsAndWithdrawalsInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__depositsandwithdrawals__bq_reference_id__execution_depositsAndWithdrawalsInstanceRecord'
                depositsAndWithdrawalsExecuteActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The execute service call consolidated processing record
                  properties: {}
                  type: object
                executeRecordType:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__servicefees__bq_reference_id__execution_executeRecordType'
              type: object
        description: DepositsAndWithdrawals request payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
          description: Successful execution of DepositsAndWithdrawals Instance Record
      summary: Invoke an automated execute action against the DepositsAndWithdrawals
        instance
      tags:
      - execute
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.execute_controller
  ? /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/depositsandwithdrawals/{bq-reference-id}/update
  : put:
      description: Update/correct a deposit or withdrawal transaction
      operationId: update_current_account_fulfillment_arrangement_deposits_and_withdrawals
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: DepositsAndWithdrawals Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_15'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR724225
                  type: string
                depositsAndWithdrawalsInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Deposits And Withdrawals instance
                  example: DAWIR754511
                  type: string
                depositsAndWithdrawalsInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__depositsandwithdrawals__bq_reference_id__update_depositsAndWithdrawalsInstanceRecord'
                depositsAndWithdrawalsUpdateActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The update service call consolidated processing record
                  properties: {}
                  type: object
                depositsAndWithdrawalsUpdateActionRequest:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                     general-info: Details of the update action service request
                  type: string
              type: object
        description: DepositsAndWithdrawals Request Payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
          description: Successfully Updated DepositsAndWithdrawals Instance
      summary: Update to any amendable fields of the DepositsAndWithdrawals instance
      tags:
      - update
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.update_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/interest/{bq-reference-id}/:
    get:
      description: Retrieve details of an interest transaction applied internally
        to the account .The retrieve operation can have sub qualifiers beyond BQ level,
        please reffer to the model heriarchy to extend beyond BQ level into APIs retrieving
        sub-qualifier level information.
      operationId: retrieve_current_account_fulfillment_arrangement_interest
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Interest Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Query params from schema '#/definitions/BQInterestRetrieveInputModel'
        explode: true
        in: query
        name: queryparams
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
          description: Successfully  Retrieved Interest Instance Record
      summary: Invoke a reporting action to obtain a Interest instance related report.
      tags:
      - retrieve
      x-openapi-router-controller: tester.entrypoints.rest.controllers.retrieve_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/issueddevice/initiation:
    post:
      description: Initiate the provision of issued inventory for the account (include
        initial issuance)
      operationId: initiate_current_account_fulfillment_arrangement_issued_device
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_21'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__issueddevice_initiation_currentAccountFulfillmentArrangementInstanceRecord'
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR782144
                  type: string
                issuedDeviceInitiateActionRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The Initiate service call input and output record
                  properties: {}
                  type: object
                issuedDeviceInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__issueddevice_initiation_issuedDeviceInstanceRecord'
              type: object
        description: Current Account Fulfillment Arrangement Request Payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_7'
          description: Successful initiation of Current Account Fulfillment Arrangement
            instance
      summary: Details of a new IssuedDevice instance
      tags:
      - initiate
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.initiate_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/issueddevice/{bq-reference-id}/:
    get:
      description: Retrieve details about issued device/inventory .The retrieve operation
        can have sub qualifiers beyond BQ level, please reffer to the model heriarchy
        to extend beyond BQ level into APIs retrieving sub-qualifier level information.
      operationId: retrieve_current_account_fulfillment_arrangement_issued_device
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: IssuedDevice Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Query params from schema '#/definitions/BQIssuedDeviceRetrieveInputModel'
        explode: true
        in: query
        name: queryparams
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_24'
          description: Successfully  Retrieved IssuedDevice Instance Record
      summary: Invoke a reporting action to obtain a IssuedDevice instance related
        report.
      tags:
      - retrieve
      x-openapi-router-controller: tester.entrypoints.rest.controllers.retrieve_controller
  ? /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/issueddevice/{bq-reference-id}/requisition
  : put:
      description: Request changes or replacement device/inventory
      operationId: request_current_account_fulfillment_arrangement_issued_device_update
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: IssuedDevice Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_23'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR795841
                  type: string
                issuedDeviceInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Issued Device instance
                  example: IDIR797041
                  type: string
                issuedDeviceInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__issueddevice__bq_reference_id__requisition_issuedDeviceInstanceRecord'
                issuedDeviceRequestActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The request service call consolidated processing record
                  properties: {}
                  type: object
                requestRecordType:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__issueddevice__bq_reference_id__requisition_requestRecordType'
              type: object
        description: IssuedDevice request payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_23'
          description: Successful requisition of IssuedDevice Instance Record
      summary: Invoke a service request action against the IssuedDevice instance
      tags:
      - request
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.request_controller
  ? /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/issueddevice/{bq-reference-id}/update
  : put:
      description: Update the issued inventory details and provisioning configuration
        or status
      operationId: update_current_account_fulfillment_arrangement_issued_device
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: IssuedDevice Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_22'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR769853
                  type: string
                issuedDeviceInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Issued Device instance
                  example: IDIR754972
                  type: string
                issuedDeviceInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__issueddevice_initiation_issuedDeviceInstanceRecord'
                issuedDeviceUpdateActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The update service call consolidated processing record
                  properties: {}
                  type: object
                issuedDeviceUpdateActionRequest:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                     general-info: Details of the update action service request
                  type: string
              type: object
        description: IssuedDevice Request Payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
          description: Successfully Updated IssuedDevice Instance
      summary: Update to any amendable fields of the IssuedDevice instance
      tags:
      - update
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.update_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/payments/initiation:
    post:
      description: Initialize a payment transaction (can be single or repeating)
      operationId: initiate_current_account_fulfillment_arrangement_payments
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_17'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__payments_initiation_currentAccountFulfillmentArrangementInstanceRecord'
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR700707
                  type: string
                paymentsInitiateActionRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The Initiate service call input and output record
                  properties: {}
                  type: object
                paymentsInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__payments_initiation_paymentsInstanceRecord'
              type: object
        description: Current Account Fulfillment Arrangement Request Payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_6'
          description: Successful initiation of Current Account Fulfillment Arrangement
            instance
      summary: Details of a new Payments instance
      tags:
      - initiate
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.initiate_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/payments/{bq-reference-id}/:
    get:
      description: Retrieve details about a payment transaction or arrangement .The
        retrieve operation can have sub qualifiers beyond BQ level, please reffer
        to the model heriarchy to extend beyond BQ level into APIs retrieving sub-qualifier
        level information.
      operationId: retrieve_current_account_fulfillment_arrangement_payments
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Payments Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Query params from schema '#/definitions/BQPaymentsRetrieveInputModel'
        explode: true
        in: query
        name: queryparams
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
          description: Successfully  Retrieved Payments Instance Record
      summary: Invoke a reporting action to obtain a Payments instance related report.
      tags:
      - retrieve
      x-openapi-router-controller: tester.entrypoints.rest.controllers.retrieve_controller
  ? /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/payments/{bq-reference-id}/exchange
  : put:
      description: Verify/approve a scheduled repeating payment
      operationId: exchange_current_account_fulfillment_arrangement_payments_update
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Payments Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_19'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR744541
                  type: string
                paymentsInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Payments instance
                  example: PIR757881
                  type: string
                paymentsExchangeActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The exchange service call consolidated processing record
                  properties: {}
                  type: object
                paymentsExchangeActionRequest:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__accountlien__bq_reference_id__exchange_accountLienExchangeActionRequest'
              type: object
        description: Payments request payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
          description: Successful exchange of Payments Instance Record
      summary: Handle an external exchange (e.g. accept, reject, verify)
      tags:
      - exchange
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.exchange_controller
  ? /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/payments/{bq-reference-id}/execution
  : put:
      description: Trigger a payment for a repeating payment set up
      operationId: execute_current_account_fulfillment_arrangement_payments_update
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Payments Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_20'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR792715
                  type: string
                paymentsInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Payments instance
                  example: PIR748199
                  type: string
                paymentsInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__payments__bq_reference_id__execution_paymentsInstanceRecord'
                paymentsExecuteActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The execute service call consolidated processing record
                  properties: {}
                  type: object
                executeRecordType:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__servicefees__bq_reference_id__execution_executeRecordType'
              type: object
        description: Payments request payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
          description: Successful execution of Payments Instance Record
      summary: Invoke an automated execute action against the Payments instance
      tags:
      - execute
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.execute_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/payments/{bq-reference-id}/update:
    put:
      description: Update a payment transaction configuration or specific transaction
      operationId: update_current_account_fulfillment_arrangement_payments
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Payments Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_18'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR717254
                  type: string
                paymentsInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Payments instance
                  example: PIR722727
                  type: string
                paymentsInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__payments__bq_reference_id__update_paymentsInstanceRecord'
                paymentsUpdateActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The update service call consolidated processing record
                  properties: {}
                  type: object
                paymentsUpdateActionRequest:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                     general-info: Details of the update action service request
                  type: string
              type: object
        description: Payments Request Payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
          description: Successfully Updated Payments Instance
      summary: Update to any amendable fields of the Payments instance
      tags:
      - update
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.update_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/servicefees/initiation:
    post:
      description: Initiate service fees against an account
      operationId: initiate_current_account_fulfillment_arrangement_service_fees
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_6'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__servicefees_initiation_currentAccountFulfillmentArrangementInstanceRecord'
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR780878
                  type: string
                serviceFeesInitiateActionRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The Initiate service call input and output record
                  properties: {}
                  type: object
                serviceFeesInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__servicefees_initiation_serviceFeesInstanceRecord'
              type: object
        description: Current Account Fulfillment Arrangement Request Payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201_2'
          description: Successful initiation of Current Account Fulfillment Arrangement
            instance
      summary: Details of a new ServiceFees instance
      tags:
      - initiate
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.initiate_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/servicefees/{bq-reference-id}/:
    get:
      description: Retrieve information about a service fee applied to the account
        .The retrieve operation can have sub qualifiers beyond BQ level, please reffer
        to the model heriarchy to extend beyond BQ level into APIs retrieving sub-qualifier
        level information.
      operationId: retrieve_current_account_fulfillment_arrangement_service_fees
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: ServiceFees Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Query params from schema '#/definitions/BQServiceFeesRetrieveInputModel'
        explode: true
        in: query
        name: queryparams
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
          description: Successfully  Retrieved ServiceFees Instance Record
      summary: Invoke a reporting action to obtain a ServiceFees instance related
        report.
      tags:
      - retrieve
      x-openapi-router-controller: tester.entrypoints.rest.controllers.retrieve_controller
  ? /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/servicefees/{bq-reference-id}/execution
  : put:
      description: Apply a service fee to the account
      operationId: execute_current_account_fulfillment_arrangement_service_fees_update
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: ServiceFees Instance Reference
        explode: false
        in: path
        name: bq-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_7'
        content:
          '*/*':
            schema:
              properties:
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the parent Current Account Fulfillment Arrangement instance
                  example: CAFAIR758109
                  type: string
                serviceFeesInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Service Fees instance
                  example: SFIR721161
                  type: string
                serviceFeesInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__servicefees__bq_reference_id__execution_serviceFeesInstanceRecord'
                serviceFeesExecuteActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The execute service call consolidated processing record
                  properties: {}
                  type: object
                executeRecordType:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__servicefees__bq_reference_id__execution_executeRecordType'
              type: object
        description: ServiceFees request payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
          description: Successful execution of ServiceFees Instance Record
      summary: Invoke an automated execute action against the ServiceFees instance
      tags:
      - execute
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.execute_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/update:
    put:
      description: Update properties of an active current account
      operationId: update_current_account_fulfillment_arrangement
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          '*/*':
            schema:
              properties:
                currentAccountServicingSessionReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the active servicing session
                  example: CASSR784968
                  type: string
                currentAccountFulfillmentArrangementInstanceReference:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
                     general-info: Reference to the Current Account Fulfillment Arrangement instance
                  example: CAFAIR735254
                  type: string
                currentAccountFulfillmentArrangementInstanceRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__current_account_fulfillment_arrangement__cr_reference_id__update_currentAccountFulfillmentArrangementInstanceRecord'
                currentAccountFulfillmentArrangementUpdateActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The update service call consolidated processing record
                  properties: {}
                  type: object
                updateActionRequest:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Text
                     general-info: Details of the update action service request
                  type: string
              type: object
        description: Current Account Fulfillment Arrangement Request Payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successfully Updated Current Account Fulfillment Arrangement
            Instance
      summary: Update to any amendable fields of the CurrentAccountFulfillmentArrangement
        instance
      tags:
      - update
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.update_controller
  /current-account/{sd-reference-id}/current-account-fulfillment-arrangement/{cr-reference-id}/{behavior-qualifier}/:
    get:
      operationId: retrieve_current_account_behavior_qualifier_reference_ids
      parameters:
      - description: Current Account Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Current Account Fulfillment Arrangement Instance Reference
        explode: false
        in: path
        name: cr-reference-id
        required: true
        schema:
          type: string
        style: simple
      - description: Behavior Qualifier Name. ex- IssuedDevice
        explode: false
        in: path
        name: behavior-qualifier
        required: true
        schema:
          type: string
        style: simple
      - description: Filter to refine the result set. ex- IssuedDevice Instance Status
          = 'pending'
        explode: true
        in: query
        name: collection-filter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                - IssuedDeviceID1
                - IssuedDeviceID2
                items:
                  type: string
                type: array
          description: Successful
      summary: Retrieve Behavior Qualifier Reference Ids
      tags:
      - retrieve
      x-openapi-router-controller: tester.entrypoints.rest.controllers.retrieve_controller
  /current-account/{sd-reference-id}/feedback:
    put:
      description: 'Capturing feedback against the SDCurrentAccount service that can
        target different levels of detail: SD/CR/BQ'
      operationId: feedback_sd_current_account
      parameters:
      - description: SDCurrentAccount Servicing Session Reference
        explode: false
        in: path
        name: sd-reference-id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          '*/*':
            schema:
              properties:
                serviceDomainFeedbackActionTaskRecord:
                  description: |
                    `status: Not Mapped`
                     core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
                     general-info: The feedback service call consolidated processing record
                  properties: {}
                  type: object
                serviceDomainFeedbackActionRecord:
                  $ref: '#/components/schemas/_current_account__sd_reference_id__feedback_serviceDomainFeedbackActionRecord'
              type: object
        description: SDCurrentAccount Feedback Request Payload
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful Service Feedback
      summary: 'Capturing feedback against the SDCurrentAccount service that can target
        different levels of detail: SD/CR/BQ'
      tags:
      - feedback
      x-codegen-request-body-name: body
      x-openapi-router-controller: tester.entrypoints.rest.controllers.feedback_controller
components:
  requestBodies:
    inline_object_1:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_1'
      required: true
    inline_object_9:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_9'
      required: true
    inline_object_10:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_10'
      required: true
    inline_object_21:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_21'
      required: true
    inline_object_8:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_8'
      required: true
    inline_object_20:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_20'
      required: true
    inline_object_7:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_7'
      required: true
    inline_object_12:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_12'
      required: true
    inline_object_23:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_23'
      required: true
    inline_object_6:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_6'
      required: true
    inline_object_11:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_11'
      required: true
    inline_object_22:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_22'
      required: true
    inline_object_5:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_5'
      required: true
    inline_object_14:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_14'
      required: true
    inline_object_4:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_4'
      required: true
    inline_object_13:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_13'
      required: true
    inline_object_3:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_3'
      required: true
    inline_object_16:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_16'
      required: true
    inline_object_2:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_2'
      required: true
    inline_object_15:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_15'
      required: true
    inline_object_18:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_18'
      required: true
    inline_object_17:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_17'
      required: true
    inline_object_19:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object_19'
      required: true
    inline_object:
      content:
        '*/*':
          schema:
            $ref: '#/components/schemas/inline_object'
      required: true
  schemas:
    SDCurrentAccountActivateInputModel:
      properties:
        serviceDomainActivationActionTaskRecord:
          description: |
            `status: Not Mapped`
             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
             general-info: The activation service call consolidated processing record
          properties: {}
          type: object
        serviceDomainCenterReference:
          description: |
            `status: Not Mapped`
             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
             general-info: Reference to the service center/operational unit
          example: SCR793499
          type: string
        serviceDomainServiceReference:
          description: |
            `status: Not Mapped`
             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
             general-info: Reference to a service offered by the service center
          example: CPASSR703914
          type: string
        serviceDomainServiceConfigurationRecord:
          $ref: '#/components/schemas/_current_account_activationx_serviceDomainServiceConfigurationRecord'
      type: object
    SDCurrentAccountActivateOutputModel:
      properties:
        serviceDomainActivationActionTaskReference:
          description: |
            `status: Not Mapped`
             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
             general-info: Reference to a service activation service call
          example: SAATR758836
          type: string
        serviceDomainActivationActionTaskRecord:
          description: |
            `status: Not Mapped`
             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
             general-info: The activation service call consolidated processing record
          properties: {}
          type: object
        serviceDomainServicingSessionReference:
          description: |
            `status: Not Mapped`
             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::ISO20022andUNCEFACT::Identifier
             general-info: Reference to the active servicing session
          example: SSSR783215
          type: string
        serviceDomainServicingSessionRecord:
          description: |
            `status: Not Mapped`
             core-data-type-reference: BIAN::DataTypesLibrary::CoreDataTypes::UNCEFACT::Binary
             general-info: Consolidated information record for the servicing session
          properties: {}
          type: object
[...]
